.btn-init{
    border: 1px #3B7B24 solid;
    position: relative;
    margin-left: 45%;
    margin-top: 15%;
    width: 10%;
    height: 40px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    .btn-I{
        text-decoration: none;
        color: #3B7B24;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;        
    }
}